# Core functionality - changes here should be rare!
/src/app.py                   @hoypaoo18
/src/backend/database.py      @hoypaoo18
/src/backend/routers/auth.py  @hoypaoo18

# The frontend will need refactored soon to be more object oriented.
/src/static/   @hoypaoo18
